<form method='POST' action='/news/new'>
    <div class="mb-3">
        <label for="firstname" class="form-label">Имя</label>
        <input type="text" class="form-control" id="firstName" name="firstName">
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-label">Фамилия</label>
        <input type="text" class="form-control" id="lastName" name="lastName">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">Роль</label>
        <input type="text" class="form-control" id="role" name="role">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </div>
</form>